

body { 
    background-image: url("../images/wallpaper.jpg");
    height: 100%; 
    width: 100%;   
    font-size: 30px;
    font-family: 'Pompiere';

    font-style: bold;

}



.jumbotron {
    font-family: 'Life Savers';
    font-size: 80px;
   background-color: transparent;
   color: white;
}

#music {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}


#one {
    border-style: dotted;
    background-color: white;
    margin: 20px;
    padding-top: 10px;
}

#two {
    font-size: 60px;
    font-style: bold;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-style: dotted;

}

#three {

    text-align: center;
    padding-top: 30px;
    border-style: dotted;
    background-color: white;


}

.row {
    
}
